<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>
<body>
<div class="container">
    <header>
        <svg>
            <use href="/svg/partly-cloudy-day.svg#partly-cloudy-day"/>
        </svg>
        <h1>Weather application.</h1>
    </header>
    <h2>
        404 Page not found.
    </h2>
    <p>
        <svg>
            <use href="/svg/dead.svg#dead"/>
        </svg>
    </p>
    {{>footer}}
</div>
</body>
</html>
