<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>
<body>
<div class="container">
    <header>
        <svg>
            <use href="/svg/partly-cloudy-day.svg#partly-cloudy-day"></use>
        </svg>
        <h1>Weather application.</h1>
    </header>
    <form name="forecast">
        <input type="text" name="address" value="Grodno" placeholder="enter address">
        <button>
            <svg>
                <use href="/svg/search.svg#search"></use>
            </svg>
        </button>
    </form>
    <div id="content">
        {{>forecast}}
    </div>
</div>
</body>
</html>
